
.AboutAs {
    display: flex;
    flex-direction: column;
    margin-top: 92px;

}

.header {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.2em;
    text-align: center;
    color: #943EB2;

}

.contentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 150px;
}

.textContainer {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;

    color: #7B7B7B;
    width: 40%;
    text-align: left;
}

.imgContainer {
    width: 60%;
}

@media (min-width: 320px) and (max-width: 1000px) {
    .contentContainer {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textContainer {
        text-align: center;
        width: 100%;
    }
    .imgContainer {
        display: none;
    }
}