
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 138px;
    margin-top: 146px;
    padding-bottom: 200px;
    background-image: url("/src/img/masterClassBackGround.png");
    background-size: 100% 100%;
    background-repeat: no-repeat
}

.content {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: 45%;
}

.header {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.2em;
    text-align: right;
    color: #FFFFFF;
}

.header span {
    color: #FE7F2D;
}

.line {
    padding-top: 25px;
    margin-top: 20px;
    border-top: 2px solid;
    border-color: #FE7F2D;
    width: 45%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.text {
    text-align: left;
    font-family: Roboto;
    width: 100%;
    color: #FFFFFF;

}