

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    text-align: left;

}

.containerReverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    text-align: right;
}

.containerReverse img {
    margin-left: 5%;
}

.container img {
    margin-right: 5%;
}

.textContainer {
    text-align: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: inherit;

}

.textContainerReverse {
    text-align: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.headerContainer {
    text-align: inherit;
    font-family: Roboto, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 33px;
    letter-spacing: 0.05em;

    color: #943EB2;
}
