.container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding-top: 300px;
    padding-bottom: 300px;
    width: 100%;
    background-image: url("/src/img/servicesBackGround.png");
    background-size: 100% 100%;
    background-repeat: no-repeat

}

.header {
    font-family: Roboto sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.2em;
    text-align: center;
    color: #943EB2;

}

.headerLabel {
    text-align: center;
    margin-top: 20px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
}

.servicesColumn {
    display: flex;
    flex-direction: column;
    height: 750px;
    justify-content: space-between;
    align-items: flex-start;
}

.servicesRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.servicesColumnCenter {
    display: flex;
    flex-direction: column;
    height: 650px;
    align-items: center;
    justify-content: center;
}

.servicesRowCenter {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.serviceMainImg {
    width: 40%;
}

@media (min-width: 1px) and (max-width: 1000px) {
    .container {
        background-image: url("/src/img/servicesBackGroundMobile.png");
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contentContainer {
        margin-top: 20px;
    }
    .headerLabel {
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        margin-top: 20px;
        width: 80%;
    }

    .servicesColumn {
        display: flex;
        flex-direction: column;
        height: 750px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .servicesRow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .servicesRowCenter {
        display: none;
    }
}
