.App {
  text-align: center;

  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 33px;
  letter-spacing: 0.05em;
  width: 100%;

  color: #7B7B7B;
}

.App a {
  color: #636363;
  text-decoration: none;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.mapboxgl-popup-content {
  background: #FFFFFF;
  box-shadow: 4px 4px 5px 5px rgba(83, 0, 112, 0.2);
  border-radius: 50px;
}
