.container {
    margin-top: 50px;
    width: 100%;
    display: block;
    margin-bottom: 90px;
}

.headerContainer {
    width: 85vw;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 5%;
    margin-left: 5%;
}

.leftBar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.positionText {
    font-size: 1em;
    width: 90%;
    text-align: left;
}

.positionText div {
    white-space: nowrap;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-left: 7%;
}


.socialNetworkContainer {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 7%;
    align-items: center;
}

.socialNetworkContainer img {
    margin-right: 30px;
    width: 1.8em;
    height: 1.8em;
}

@media (min-width: 1px) and (max-width: 1000px) {
    .headerButtons {
        display: none;
    }
    .headerContainer {
        padding-top: 0;
        width: 90%;
    }
    .phone {
        display: none;
    }
    .positionText {
        width: 70%;
        font-size: 0.7em;
    }
    .container {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }
}

