.container {
    display: flex;
    flex-direction: column;
    margin-top: 91px;
}

.header {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    line-height: 1.2em;
    text-align: center;
    color: #943EB2;
    margin-bottom: 101px;

}

.content {
    display: block;
}

.content img {
    width: 100%;
    height: auto;
}